/* Heading */
.jumbotron {
    text-align: center;
    padding: 100px 0;
    margin-bottom: 10px;
}


/* Project list */
.project-container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.project {
    flex-basis: 250px;
    flex-grow: 1;
    max-width: 400px;
    padding: 15px;
    margin: 5px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project-title {
    margin-top: 0;
}

.project-description {
    flex-grow: 1;
}

#project-files {
    background-color: #FF6E5E;
}

#project-urls {
    background-color: #2EBF55;
}

#project-tester {
    background-color: #48B8E8;
}


/* Footer */
footer {
    text-align: center;
    margin-top: 50px;
}
